pycrypto>=2.6
pyasn1>=0.1.8
gevent>=1.2.0
requests>=2.3.0
bs4
netaddr
pyOpenSSL
termcolor
msgpack-python
pylnk
certifi>=2022.12.7 # not directly required, pinned by Snyk to avoid a vulnerability
cryptography>=39.0.1 # not directly required, pinned by Snyk to avoid a vulnerability